language: php

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source --dev

php:
  - 5.5
  - 5.6
  - hhvm

script: bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
